
<div class="window-container">
    <Landscape></Landscape>
    <img src="/images/PC Monitor with accessories@1-1920x1080.png" />
    <ProjectTitle Title="@Title_"></ProjectTitle>
    <ProjectDescription DescriptionTxt=@DescriptionTxt_></ProjectDescription>
    <ProjectTechnologies Technologies=@Technologies_></ProjectTechnologies>
    <ProjectsNavigation ProjectWord="@ProjectWord_" NthProject="@NthProject_"
        TotalProjects="@TotalProjects_" Previous="@Previous_" Next="@Next_"
        ToPreviousProject="@ToPreviousProject_" ToNextProject="@ToNextProject_"
        DisplayNextButton="@DisplayNextButton_" DisplayPreviousButton="DisplayPreviousButton_">
    </ProjectsNavigation>
</div>