@page "/projects"
@using Portfolio.Clean.BlazorUI.Components.Common
@using Portfolio.Clean.BlazorUI.Components.Projects

<PageTitle>@LanguageContainer.Keys["Portfolio:PageTabTitle"]</PageTitle>

@if (isLoaded)
{
    <div class="projects-page">
        <SetPageTitle PageTitleName="@LanguageContainer.Keys["Portfolio:PageTitle"]"></SetPageTitle>
        <Window DescriptionTxt_=@DescriptionTxt Technologies_=@Technologies Title_="@Title"
                ProjectWord_="@LanguageContainer.Keys["Portfolio:ProjectWord"]" NthProject_="@NthProject"
                TotalProjects_="@TotalProjects" Previous_="@LanguageContainer.Keys["Portfolio:Previous"]"
                Next_="@LanguageContainer.Keys["Portfolio:Next"]" ToPreviousProject_="@ToPreviousProject"
                ToNextProject_="@ToNextProject" DisplayNextButton_="@DisplayNextButton"
                DisplayPreviousButton_="DisplayPreviousButton">
        </Window>

        <h1 style="color:red;font-size:50px;">@Test.ToString()</h1>
    </div>
}
else
{
    <CustomLoadingAnimation></CustomLoadingAnimation>
}

