@page "/portfolio"
@using Portfolio.Clean.BlazorUI.Components.Common
@using Portfolio.Clean.BlazorUI.Components.PortfolioComponent

<PageTitle>@LanguageContainer.Keys["Portfolio:PageTabTitle"]</PageTitle>

<div class="portfolio-container">
	 @if (isLoaded)
    {
        <SetPageTitle PageTitleName="@LanguageContainer.Keys["Portfolio:PageTitle"]"></SetPageTitle>
        <img src="/images/Portfolio/jbtdev-new-meeting-room.png" />

        <ProjectsWindow DescriptionTxt=@DescriptionTxt Title="@Title" TechnologiesIcons="@TechnologiesIcons"
                        TechnologiesIconsAlt="@TechnologiesIconsAlt"
                        ProjectWord="@LanguageContainer.Keys["Portfolio:ProjectWord"]" NthProject="@NthProject"
                        TotalProjects="@TotalProjects" Previous="@LanguageContainer.Keys["Portfolio:Previous"]"
                        Next="@LanguageContainer.Keys["Portfolio:Next"]" ToPreviousProject="@ToPreviousProject"
                        ToNextProject="@ToNextProject" DisplayNextButton="@DisplayNextButton"
                        DisplayPreviousButton="DisplayPreviousButton">
        </ProjectsWindow>
    }
    else
    {
        <CustomLoadingAnimation></CustomLoadingAnimation>
    }

</div>