<div class="sidenav">
    <div class="side-element">
        <a href="#"><span>@LanguageContainer.Keys["Sidebar:Home"]</span><i></i></a>
    </div>
    <div class="side-element">
        <button class="dropdown-btn" @onclick="ProjectDropdown">
            <span>@LanguageContainer.Keys["Sidebar:Projects"] ▽</span><i></i>
        </button>
        <div class="dropdown-container" id="project-dropdown" style="display: @projectsList;">
            <a href="projects">@LanguageContainer.Keys["Sidebar:P_Portfolio"]</a>
            <a href="#">@LanguageContainer.Keys["Sidebar:P_Simulation"]</a>
        </div>
    </div>
    <div class="side-element">
        <button class="dropdown-btn" @onclick="AboutDropdown">
            <span>@LanguageContainer.Keys["Sidebar:About"] ▽</span><i></i>
        </button>
        <div class="dropdown-container" id="about-dropdown" style="display: @aboutList;">
            <a href="#">@LanguageContainer.Keys["Sidebar:A_Company"]</a>
            <a href="#">@LanguageContainer.Keys["Sidebar:A_Team"]</a>
        </div>
    </div>
    <div class="side-element">
        <a href="contactemails"><span>@LanguageContainer.Keys["Sidebar:Contact"]</span><i></i></a>

    </div>
    <div class="side-element">
        <a href="test"><span>@LanguageContainer.Keys["Sidebar:Test"]</span><i></i></a>
    </div>
</div> 

<div class="sidenav-toogle">
    <div class="side-element">
        <button class="dropdown-btn" @onclick="ProjectDropdown"><span>≡</span></button>
    </div>
</div>

       