
<div class="projects-window-container">
    <div class="title-container">
        @Title
    </div>
    <div class="description-container">
        @DescriptionTxt
    </div>
    <div class="projects-navigation-container">
        <div id="arrow_2" class="arrow-wrapper">
            @if (DisplayPreviousButton)
            {
                <div @onclick="@ToPreviousProject" class="arrow arrow--left">
                    <span>@Previous</span>
                </div>
            }
            else
            {
                <div class="no-arrow"><span></span></div>
            }

            <div class="block"><h1>@ProjectWord @NthProject/@TotalProjects</h1></div>

            @if (DisplayNextButton)
            {
                <div @onclick="@ToNextProject" class="arrow arrow--right">
                    <span>@Next</span>
                </div>
            }
            else
            {
                <div class="no-arrow"><span></span></div>
            }

        </div>
    </div>
</div>

<div class="screen-container">
    <div class="screen">
        <img src="/images/Portfolio/jbtdev-new-meeting-room.png" />
    </div>
</div>

<div class="technologies-container" id="tech">
    @foreach (string technologyIcon in TechnologiesIcons)
    {
        try
        {
            <img src="@technologyIcon" alt="@TechnologiesIconsAlt" />
        }
        catch
        {
            @TechnologiesIconsAlt
        }

    }
</div>